
body
{
    background-color: rgb(78, 114, 231);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.resettext
{
    position: absolute;
    top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 24px;
    font-weight: 1000;
    text-transform: uppercase;
}

#button
{
    position: absolute;
    top: 100px;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    color: white;
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(255, 0, 0);
    margin-bottom: 50px;
}

#button:hover
{
    cursor: pointer;
}

#imgpokemon
{
    position: absolute;
    top: 150px;
}


#citation
{
    top: 500px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 300px;
    height: 15px;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 800;
    text-transform: capitalize;
    border: 2px solid rebeccapurple;
    background-color: rgb(255, 255, 255); 
    margin: 50px;
}


.stoptext
{
    position: absolute;
    top: 650px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 24px;
    font-weight: 1000;
    text-transform: uppercase;
}

#stopButton
{
    position: absolute;
    top: 720px;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    color: white;
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(0, 132, 255);
    margin-bottom: 50px;
}

#stopButton:hover
{
    cursor: pointer;
}
